<!--ユーザーのshowページ（ユーザの今まで投稿したbooks一覧が表示される）-->
<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>画像</td>
      <td><%= @book.title</td>
    </tr>
  </tbody>
</table>
